.selected {
    background-color: green;
    -moz-transition: 200ms;
}
tr {
    -moz-transition: 200ms;
}
body {
    min-width:560px;
    width:auto !important;
    margin-bottom: 70px;
}
.disabled {
    -moz-transition: 200ms;
}
.btn {
    -moz-transition: 200ms;
}
.show  {
    -moz-transition: 1000ms;
}

div.bg-success {
    -moz-transition: 150ms;
}

.progress {
    height: 20px;
    font-size: 15px;
    -moz-transition: 1000ms !important;
}

.progress-bar .progress .progress-bar-striped .progress-bar-animated{
    -moz-transition: 1000ms;
}
